<div>
  <section class="contenedor-breadcrumb">
    <ul class="breadcrumb" id="breadcrumb">
      <li><a href="#">Cultivos</a></li>
      <li><a href="#">Enfermedades</a></li>
    </ul> 
  </section>
  <section class="enfer-contenedor-cultivo">
    <div class="enfer-cultivo">
      <div class="enfer-cultivo__imagen">
        <img ng-src="{{vm.cultivo.imagen}}"  alt="">
      </div>
      <h2 class="enfer-cultivo__nombre-comun" ng-bind="vm.cultivo.nombre"></h2>
      <h5 class="enfer-cultivo__nombre-cientifico" ng-bind="vm.cultivo.nombreCientifico"></h5>
    </div>
  </section>
  <section class="contenedor-tratamiento" id="contenedor-tratamiento">
    <div class="contenedor-tratamiento-interior">
      <div class="enfermedad-elegida">
        <div class="enfermedad-elegida-img">
          <img ng-src="{{vm.afeccion.imagen}}" alt="" id="img-enfermedad-elegida">
        </div>
        <h2 class="enfermedad__nombre-comun" ng-bind="vm.afeccion.nombre"></h2>
        <h5 class="enfermedad__nombre-cientifico" ng-bind="vm.afeccion.nombreCientifico"></h5>
      </div>

      <div class="tratamiento">
        <p class="descripcion-caracteristica" ng-bind="vm.afeccion.descripcion">
        </p>
      </div>
    </div>
    <div class="contenedor-tratamiento-interior">
      <div class="enfermedad-elegida">
        <div class="tipos-tratamientos">
          <span class="titulo-tipos">Tratamientos</span>
          <ul class="lista-tratamientos">           
            <li ng-repeat="tratamiento in vm.data.tratamientos"
              ng-click="vm.cargarTratamiento(tratamiento.id)"
              ng-class="{'tratamiento-activo': vm.tratamientoActual === tratamiento.id}">
              <a ng-bind="tratamiento.nombreProducto"></a>
            </li> 
          </ul>
        </div>
        <a class="btn-mostrar-afecciones">Regresar</a>
      </div>

      <div class="tratamiento">
        <h4 ng-bind="'Descripción de tratamiento: '+ vm.data.tratamiento.nombreProducto"> </h4>
        <article class="caracteristicas-tratamiento">
          <h4 class="titulo-caracteristica">Accion Fitosanitaria</h4>
          <p class="descripcion-caracteristica" ng-bind="vm.data.tratamiento.acccionFitosanitaria">          
          </p>
        </article>
        <article class="caracteristicas-tratamiento">
          <h3 class="titulo-caracteristica">Aplicacion de dosis</h3>
          <p class="descripcion-caracteristica" ng-bind="vm.data.tratamiento.aplicacionDosis">
            
          </p>
        </article>
        <article class="caracteristicas-tratamiento">
          <h3 class="titulo-caracteristica">Modo de aplicacion</h3>
          <p class="descripcion-caracteristica"  ng-bind="vm.data.tratamiento.aplicacionModo">          
          </p>
        </article>
        <article class="caracteristicas-tratamiento">
          <h3 class="titulo-caracteristica">Cantidad de dosis</h3>
          <p class="descripcion-caracteristica"  ng-bind="vm.data.tratamiento.cantidadDosis">
          </p>
        </article>
      </div>
    </div>
  </section>
</div>