<div>  
  <section class="banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="img/banner_1_3.jpg" alt="First slide">
          <div class="carousel__informacion">
            <h3 class="carousel__titulo">EL CICLO DE CULTIVO DEL ARROZ ES DE 5 MESES</h3>

            <p class="carousel__descripcion">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta fugit eaque cumque consequatur quidem sunt labore voluptas,
              enim facilis consequuntur, mollitia consectetur cupiditate inventore vel aspernatur assumenda deserunt nam
              distinctio.
            </p>

            <a href="" class="carousel__btn-mas">Mas informacion</a>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="img/banner_2_3.jpg" alt="Second slide">
          <div class="carousel__informacion">
            <h3 class="carousel__titulo">EL CICLO DE CULTIVO DEL ARROZ ES DE 5 MESES</h3>

            <p class="carousel__descripcion">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta fugit eaque cumque consequatur quidem sunt labore voluptas,
              enim facilis consequuntur, mollitia consectetur cupiditate inventore vel aspernatur assumenda deserunt nam
              distinctio.
            </p>

            <a href="" class="carousel__btn-mas">Mas informacion</a>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="img/banner_3_3.jpg" alt="Third slide">
          <div class="carousel__informacion">
            <h3 class="carousel__titulo">EL CICLO DE CULTIVO DEL ARROZ ES DE 5 MESES</h3>

            <p class="carousel__descripcion">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta fugit eaque cumque consequatur quidem sunt labore voluptas,
              enim facilis consequuntur, mollitia consectetur cupiditate inventore vel aspernatur assumenda deserunt nam
              distinctio.
            </p>

            <a href="" class="carousel__btn-mas">Mas informacion</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main class="home-contenedor-main" id="main">
    <h1 class="home-titulo-contenedor">Cultivos</h1>

    <section class="home-contenedor-cultivos">
      <div class="home-cultivo" ng-repeat="cultivo in vm.data.cultivos">
        <a class="home-cultivo__active" ng-click="vm.cargarDescripcion($index)">
          <div class="home-cultivo__img">
            <img ng-src="{{cultivo.imagen}}" alt="descripcion">
          </div>
          <span class="home-cultivo__nombre" ng-bind="cultivo.nombre"></span>
          <span class="home-cultivo__nombre-cientifico" ng-bind="cultivo.nombreCientifico"></span>
        </a>       
        <div class="arrow_up" ng-if="vm.informacionCultivo === cultivo.resena"></div>
      </div>
    </section>

    <section class="home-informacion-cultivos" id="informacion-cultivo" ng-if="vm.informacionCultivo.length > 0">
      <div class="home-descripcion-cultivos">
        <p ng-bind="vm.informacionCultivo"></p>
      </div>
    </section>
    <section>
      <div class="home-contenedor-mas">
        <!-- <a ui-sref="cultivo" class="home-btn-mas">Ver más información sobre cultivos...</a> -->
        <button ui-sref="cultivo" class="home-btn-mas">Ver más información sobre cultivos...</button>
      </div>
    </section>
  </main>
</div>